<nav class="masthead">
  <nav class="language-nav">
    <ul>
      <li>
        <a href="">css</a>
      </li>
      <li>
        <a href="">html</a>
      </li>
      <li>
        <a href="">javascript</a>
      </li>
      <li>
        <a href="">ruby</a>
      </li>
    </ul>
  </nav>
  <img src="assets/AA_Times_Logo.png" alt="" class="logo">
  <nav class="masthead-links">
    <time>Tuesday, October 18, 2016</time>        
    <a href="">Today’s Paper</a>
    <a href="">Video</a>
    <button>77°F</button>
    <button>AAO<strong> +100%</strong></button>
  </nav>
</nav>